/target/
.DS_Store
.vscode
/.idea
/db
run/db
run/kv.DB
run/config.toml
run/run.sh
dummy*
tags*
test.py
test.txt
build.sh
ccov
tests/**/__pycache__
*.pyc
tests/utility/geth
tests/utility/conflux
tests/tmp/**
0gchain-init-genesis-mac.sh